<h1>Intercepted emails</h1>

<p *ngIf="!emails"><em>Loading...</em></p>

<div *ngIf="emails">
  <button (click)="onClickDeleteAll()">Delete All</button>
  <button (click)="onClickRefresh()">Refresh</button>
  <fieldset>
    <legend>Filters</legend>
    From:
    <select>
      <option>All</option>
      <option *ngFor="let t of distinctFilters.toAddresses" value="{{ t }}">{{ t }}</option>
    </select>
    To:
    <select>
      <option>All</option>
      <option *ngFor="let t of distinctFilters.fromAddresses" value="{{ t }}">{{ t }}</option>
    </select>

    Subject:
    <select>
      <option>All</option>
      <option *ngFor="let t of distinctFilters.subjects" value="{{ t }}">{{ t }}</option>
    </select>
    <button (click)="onClickFilter">Filter</button>
  </fieldset>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th>Message as Text</th>
        <th>Message as HTML</th>
        <th>Created On UTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emails">
        <td>{{ e.emailId }}</td>
        <td>{{ e.from }}</td>
        <td>{{ e.to }}</td>
        <td>{{ e.subject }}</td>
        <td>{{ e.message }}</td>
        <td><p [innerHTML]="e.message"></p></td>
        <td>{{ e.createdOnUtc }}</td>
      </tr>
    </tbody>
  </table>
</div>
