<h2>Intercepted emails</h2>

<p *ngIf="!emails"><em>Loading...</em></p>

<div *ngIf="emails">
  <button (click)="onClickDeleteAll()">Delete All</button>
  <button (click)="onClickRefresh()">Refresh</button>
  <fieldset>
    <legend>Filters</legend>
    Page size:
    <input type="number" value="50" min="50" max="1000" [(ngModel)]="emailFilter.pageSize" />

    From:
    <select [(ngModel)]="emailFilter.from">
      <option selected="selected" value="%20">All</option>
      <option *ngFor="let t of distinctFilters.fromAddresses" value="{{ t }}">{{ t }}</option>
    </select>

    To:
    <select [(ngModel)]="emailFilter.to">
      <option selected="selected" value="%20">All</option>
      <option *ngFor="let t of distinctFilters.toAddresses" value="{{ t }}">{{ t }}</option>
    </select>

    Subject:
    <select [(ngModel)]="emailFilter.subject">
      <option selected="selected" value="%20">All</option>
      <option *ngFor="let t of distinctFilters.subjects" value="{{ t }}">{{ t }}</option>
    </select>
    <button (click)="onClickFilter(emailFilter)">Filter</button>
  </fieldset>
  <br />
  <fieldset>
    <legend>Hide Columns</legend>
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.id" /> Id&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.from" /> From&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.to" /> To&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.subject" /> Subject&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.messageText" /> Message as Text&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.messageHtml" /> Message as HTML&nbsp;
    <input type="checkbox" checked="checked" [(ngModel)]="colToggle.createdOnUtc" /> Created On UTC&nbsp;
    <button (click)="onClickShowAllColumns()">Reset</button>
  </fieldset>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th *ngIf="colToggle.id">Id</th>
        <th *ngIf="colToggle.from">From</th>
        <th *ngIf="colToggle.to">To</th>
        <th *ngIf="colToggle.subject">Subject</th>
        <th *ngIf="colToggle.messageText">Message as Text</th>
        <th *ngIf="colToggle.messageHtml">Message as HTML</th>
        <th *ngIf="colToggle.createdOnUtc">Created On UTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emails">
        <td *ngIf="colToggle.id">{{ e.emailId }}</td>
        <td *ngIf="colToggle.from">{{ e.from }}</td>
        <td *ngIf="colToggle.to">{{ e.to }}</td>
        <td *ngIf="colToggle.subject">{{ e.subject }}</td>
        <td *ngIf="colToggle.messageText">{{ e.message }}</td>
        <td *ngIf="colToggle.messageHtml"><p [innerHTML]="e.message"></p></td>
        <td *ngIf="colToggle.createdOnUtc">{{ e.createdOnUtc }}</td>
      </tr>
    </tbody>
  </table>
</div>
